
 .img{
  width:400px;
  height:400px;
  float: left;
  margin-top:20px;
}
.main{
  width:1170px;
  height:auto;
  background:#fff;
  margin:0 auto;
  padding:20px 0
}
.row{
  margin-top:20px;
  width:590px;

}
.price{
  width:590px;
  height:75px;
  border-bottom: 1px dashed #333;
}
.original{
  min-height: 35px;
  height: auto;
  width:590px;
}
.lable{
  width: 70px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  padding-right: 5px;
  color: #aaa;
}
.gray{
  color: #e73819;
  font-size: 20px;
}
.throu{
  text-decoration: line-through;
}
.adress{
  margin-top:20px;
  height:75px;
  border-bottom: 1px dashed #333;
}
.ant-input-number {
  margin-right: 10px;
}

.original1{
  margin-top:20px;
  min-height: 35px;
  height:70px;
  width:590px;
  border-bottom: 1px dashed #333;
}

.btn{
  height:100px;
  width:590px;
}
.zbuy{
  margin-top:30px;
}
.buy{
  margin-left:40px;
}
.img1{
  border:0;
  width:254px;
  height:254px;
}
.tiao{
  width:1170px;
    height: auto;
    background: #fff;
}
.desc{
  background:#fff;
  width:1170px;
  height:auto;
  margin:20px auto;
}
.tit{
  width:750px;
  min-height: 40px;
    padding: 20px 0;
    color: #333;
    font-size: 24px;
    text-align: center;
    margin:0 auto;
    border-bottom: 1px dashed #000;
}
.ptext{
  width:750px;
    padding: 10px 20px;
    font-size: 14px;
    margin:0 auto;
}
.gutterbox{
  width: 256px;
  height: 363px;
  margin: 0 0 15px 14px;
  border: 1px solid green;
  margin: 0 0 15px 14px;
  margin:40px auto;
}
.price1{
  font-size: 22px;
  margin:0;
  color:#dc3334;
}
.desc1{
  font-size: 14px;
  color:black;
  width:250px; 
  margin-left:4px;
}
.shop{
  font-size: 20px;
  margin:10px 35px;
  border-bottom: 1px dashed black;
}

