<!DOCTYPE HTML>
<html>

<head>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>幸福商城 - O'Park</title>
</head>
<style type="text/css">
body{
  background: rgb(243, 240, 240);
  font: 14px/1.5 "Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
  letter-spacing: .5px;
}
</style>
<body>
  <div id="root"></div>
</body>

</html>