
.nav {
  width:1170px;
  height: 60px;
  line-height: 30px;
  padding: 20px 0 10px;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
.rows{
  background:#fff;
  width:1170px;
}
.rows1{
  width:1130px;
  line-height: 56px;
  height:113px;
  margin:0 0 20px 0;
  font-size: 14px;
  background:#fff;
  margin:0 auto;
}

.rows a{
  display: block;
  min-width: 40px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #555;
    border: 1px solid green;
    float: left;
    margin-left: 10px;
    padding: 0 10px;
}
.img{
  border:0;
  width:254px;
  height:254px;
}
.tiao{
  width:1170px;
    height: auto;
    margin:20px auto;
}
.gutterbox{
  background:#fff;
  width: 256px;
  height: 363px;
  margin: 0 0 15px 14px;
  margin: 0 0 15px 14px;
}
.jiage{
  font-size: 22px;
  margin:0;
  color:#dc3334;
}
.desc{
  font-size: 14px;
  color:black;
  width:250px; 
  margin-left:4px;
}